[submodule "hanghae-plus-1wd"]
	path = hanghae-plus-1wd
	url = https://github.com/thedev-junyoung/hanghae-plus-1wd.git
[submodule "hanghae-plus-2wd"]
	path = hanghae-plus-2wd
	url = https://github.com/thedev-junyoung/hanghae-plus-2wd.git
[submodule "hanghae-plus-3wd"]
	path = hanghae-plus-3wd
	url = https://github.com/thedev-junyoung/hanghae-plus-3wd.git

[submodule "hanghae-plus-4wd"]
	path = hanghae-plus-4wd
	url = https://github.com/thedev-junyoung/hanghae-plus-4wd.git

[submodule "hanghae-plus-5wd"]
	path = hanghae-plus-5wd
	url = https://github.com/thedev-junyoung/hanghae-plus-5wd.git
	branch = main

[submodule "hanghae-plus-6wd"]
	path = hanghae-plus-6wd
	url = https://github.com/thedev-junyoung/hanghae-plus-6wd.git
	branch = main

[submodule "hanghae-plus-7wd"]
	path = hanghae-plus-7wd
	url = https://github.com/thedev-junyoung/hanghae-plus-7wd
